.btn-sky {
    background-color: #289BDE;

}

.bg-sky {
    background-color: #289BDE;
}

.text-sky {
    color: #289BDE;
}

.golden-star {
    color: gold;
}


.bg-light-black {
    background-color: #161616;

}

.color-muted {
    color: #4A4A4A;
}